{% extends "base.html" %}

{% block titulo %}Principal{% endblock %}

{% block principal %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-4 mb-0">
    {% for p in produtos %}

    <div class="col">
        <div class="card h-100">
            <img src="/static/img/produtos/{{ '{:04d}'.format(p.id) }}.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ p.nome }}</h5>

                <div class="texto-3-linhas">
                    <p class="card-text">{{ p.descricao }}</p>
                </div>

                <br>
                <p class="card-text"><small class="text-muted">R$ {{ p.preco }}</small></p>
            </div>

            <div class="card-footer text-center">
                <a href="{{ url_for('get_detalhes', id_produto=p.id) }}" class="btn btn-secondary btn-sm me-2">Detalhes</a>
                <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
